<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../../styles/planInfo.css">
</head>
<body>

    <div class="header">
        <div class="netflixLogo">
            <img id="logo" src="../../assets/images/logo.png">
        </div>
        <div class="signout">
            <a id="signIn" href="URL">Sign In</a>
        </div>
    </div>

    <div class="plan">
        <div class="checkmark">
            <img src="../../assets/images/Checkmark.png" alt="Checkmark">
        </div>
        <div class="step">
            <p>STEP 1 OF 3</p>
        </div>
        <div class="choosePlan">
            <p>Choose your plan.</p>
        </div>
        <div class="data">
            <ul>
                <li class="checkmark-group--row">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="checkmark-group--icon default-ltr-cache-4z3qvp e1svuwfo1" data-name="Checkmark" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2928 4.29285L22.7071 5.70706L8.70706 19.7071C8.51952 19.8946 8.26517 20 7.99995 20C7.73474 20 7.48038 19.8946 7.29285 19.7071L0.292847 12.7071L1.70706 11.2928L7.99995 17.5857L21.2928 4.29285Z" fill="currentColor"></path></svg>
                    <span class="checkmark-group--text" data-uia="checkmark-group+row-0+content" style="">No commitments, cancel anytime.</span>                </li>
                <li class="checkmark-group--row">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="checkmark-group--icon default-ltr-cache-4z3qvp e1svuwfo1" data-name="Checkmark" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2928 4.29285L22.7071 5.70706L8.70706 19.7071C8.51952 19.8946 8.26517 20 7.99995 20C7.73474 20 7.48038 19.8946 7.29285 19.7071L0.292847 12.7071L1.70706 11.2928L7.99995 17.5857L21.2928 4.29285Z" fill="currentColor"></path></svg>
                    <span class="checkmark-group--text" data-uia="checkmark-group+row-1+content">Everything on Netflix for one low price.</span>    </li>
                <li class="checkmark-group--row">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="checkmark-group--icon default-ltr-cache-4z3qvp e1svuwfo1" data-name="Checkmark" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2928 4.29285L22.7071 5.70706L8.70706 19.7071C8.51952 19.8946 8.26517 20 7.99995 20C7.73474 20 7.48038 19.8946 7.29285 19.7071L0.292847 12.7071L1.70706 11.2928L7.99995 17.5857L21.2928 4.29285Z" fill="currentColor"></path></svg>
                    <span class="checkmark-group--text" data-uia="checkmark-group+row-2+content">No ads and no extra fees. Ever.</span>                </li>
            </ul>
        </div>
        <div class="button">
            <button id="Next">Next</button>
        </div>

    </div>

    <div class="footer">
        <h2>Questions? call 0101-0101-0101-0101</h2>

        <div class="row">
            <div class="col">
                <a href="#">FAQ</a>
                <a href="#">Privacy</a>
            </div>
            <div class="col">
                <a href="#">Help Centre</a>
                <a href="#">Cookie Preferences</a>
            </div>
            <div class="col">
                <a href="#">Ways to Watch</a>
                <a href="#">Only on Netflix</a>
            </div>
            <div class="col">

                <a href="#">
                    Terms of Use</a>
            </div>
        </div>
    </div>
</body>
</html>

