<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../../styles/plans.css">
</head>
<body>
    <div class="header">
        <div class="netflixLogo">
            <img id="logo" src="../../assets/images/logo.png">
        </div>
        <div class="signout">
            <a id="signIn" href="URL">Sign Out</a>
        </div>
    </div>

    <div class="maincontent">    
        <div class="choosing">
            <p id="Steps">STEP 1 OF 3</p>
            <p id="DescripPlans">Choose the plan that’s right for you</p>
        </div>

        <div class="plans">
                <div class="premium">
                    <div class="Onephoto">
                        <span class="default-ltr-cache-1gwr2i2">Premium</span>
                        <span class="default-ltr-cache-42bcy3">4K + HDR</span>
                    </div>
                    <div class="points">
                        <div class="pointOne">
                            <span class="MonthlyPrice">Monthly Price</span>
                            <span class="PricePerMonth">₹649</span>
                        </div>
                        <div class="pointTwo">
                            <span class="MonthlyPrice">Video and sound quality</span>
                            <span class="PricePerMonth">Best</span>
                        </div>
                        <div class="pointThree">
                            <span class="MonthlyPrice">Resolution</span>
                            <span class="PricePerMonth">4K (Ultra HD) + HDR</span>
                        </div>
                        <div class="pointFour">
                            <span class="MonthlyPrice">Supported devices</span>
                            <span class="PricePerMonth">TV, computer, mobile phone, tablet</span>
                        </div>
                        <div class="pointFive">
                            <span class="MonthlyPrice">Devices your household can watch at the same time</span>
                            <span class="PricePerMonth">4</span>
                        </div>
                        <div class="pointSix">
                            <span class="MonthlyPrice">Download devices</span>
                            <span class="PricePerMonth">6</span>
                        </div>
                    </div>
                </div>
                <div class="standard">
                    <div class="Twophoto">
                        <span class="default-ltr-cache-1gwr2i2">Standard</span>
                        <span class="default-ltr-cache-42bcy3">1080p</span>
                    </div>
                    <div class="points">
                        <div class="pointOne">
                            <span class="MonthlyPrice">Monthly Price</span>
                            <span class="PricePerMonth">$499</span>
                        </div>
                        <div class="pointTwo">
                            <span class="MonthlyPrice">Video and sound quality</span>
                            <span class="PricePerMonth">Great</span>
                        </div>
                        <div class="pointThree">
                            <span class="MonthlyPrice">Resolution</span>
                            <span class="PricePerMonth">1080p (Full HD)</span>
                        </div>
                        <div class="pointFour">
                            <span class="MonthlyPrice">Supported devices</span>
                            <span class="PricePerMonth">TV, computer, mobile phone, tablet</span>
                        </div>
                        <div class="pointFive">
                            <span class="MonthlyPrice">Devices your household can watch at the same time</span>
                            <span class="PricePerMonth">2</span>
                        </div>
                        <div class="pointSix">
                            <span class="MonthlyPrice">Download devices</span>
                            <span class="PricePerMonth">2</span>
                        </div>
                    </div>
                </div>    
                
                <div class="basic">
                    <div class="Threephoto">
                        <span class="default-ltr-cache-1gwr2i2">Basic</span>
                        <span class="default-ltr-cache-42bcy3">720p</span>
                    </div>
                    <div class="points">
                        <div class="pointOne">
                            <span class="MonthlyPrice">Monthly Price</span>
                            <span class="PricePerMonth">₹199</span>
                        </div>
                        <div class="pointTwo">
                            <span class="MonthlyPrice">Video and sound quality</span>
                            <span class="PricePerMonth">Good</span>
                        </div>
                        <div class="pointThree">
                            <span class="MonthlyPrice">Resolution</span>
                            <span class="PricePerMonth">720p (HD)</span>
                        </div>
                        <div class="pointFour">
                            <span class="MonthlyPrice">Supported devices</span>
                            <span class="PricePerMonth">TV, computer, mobile phone, tablet</span>
                        </div>
                        <div class="pointFive">
                            <span class="MonthlyPrice">Devices your household can watch at the same time</span>
                            <span class="PricePerMonth">1</span>
                        </div>
                        <div class="pointSix">
                            <span class="MonthlyPrice">Download devices</span>
                            <span class="PricePerMonth">1</span>
                        </div>
                    </div>
                </div>
                <div class="mobile">
                    <div class="Fourphoto">
                        <span class="default-ltr-cache-1gwr2i2">Mobile</span>
                        <span class="default-ltr-cache-42bcy3">480p</span>
                    </div>
                    <div class="points">
                        <div class="pointOne">
                            <span class="MonthlyPrice">Monthly Price</span>
                            <span class="PricePerMonth">₹149</span>
                        </div>
                        <div class="pointTwo">
                            <span class="MonthlyPrice">Video and sound quality</span>
                            <span class="PricePerMonth">Fair</span>
                        </div>
                        <div class="pointThree">
                            <span class="MonthlyPrice">Resolution</span>
                            <span class="PricePerMonth">480p</span>
                        </div>
                        <div class="pointFour">
                            <span class="MonthlyPrice">Supported devices</span>
                            <span class="PricePerMonth">Mobile phone, tablet</span>
                        </div>
                        <div class="pointFive">
                            <span class="MonthlyPrice">Devices your household can watch at the same time</span>
                            <span class="PricePerMonth">1</span>
                        </div>
                        <div class="pointSix">
                            <span class="MonthlyPrice">Download devices</span>
                            <span class="PricePerMonth">1</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- <div class="footer">
        <h2>Questions? call 0101-0101-0101-0101</h2>

        <div class="row">
            <div class="col">
                <a href="#">FAQ</a>
                <a href="#">Privacy</a>
            </div>
            <div class="col">
                <a href="#">Help Centre</a>
                <a href="#">Cookie Preferences</a>
            </div>
            <div class="col">
                <a href="#">Ways to Watch</a>
                <a href="#">Only on Netflix</a>
            </div>
            <div class="col">

                <a href="#">
                    Terms of Use</a>
            </div>
        </div>
    </div> -->
</body>
</html>

