<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../../styles/signup.css">
</head>
<body>

    <div class="header">
        <div class="netflixLogo">
            <img id="logo" src="../../assets/images/logo.png">
        </div>
        <div class="signout">
            <a id="signIn">Sign Out</a>
        </div>
    </div>

    <div class="plan">
        <div class="step">
            <p>STEP 1 OF 3</p>
        </div>
        <div class="choosePlan">
            <p>Create a password to start your membership</p>
        </div>
        <div class="data">
            <p>
                Just a few more steps and you're done! We hate paperwork, too.
            </p>
        </div>
        <div class="forms">
            <form class="email-signin" autocomplete="off">
                <input type="email" id="email" placeholder="Email Address" required autocomplete="new-password">
            </form>

            <form class="password" autocomplete="off">
                <input type="password" id="password" placeholder="Password" required autocomplete="new-password">
            </form>
        </div>
        <div class="button">
            <button id="Next" onclick="signup()">Next</button>
        </div>

    </div>

    <div class="footer">
        <h2>Questions? call 0101-0101-0101-0101</h2>

        <div class="row">
            <div class="col">
                <a href="#">FAQ</a>
                <a href="#">Privacy</a>
            </div>
            <div class="col">
                <a href="#">Help Centre</a>
                <a href="#">Cookie Preferences</a>
            </div>
            <div class="col">
                <a href="#">Ways to Watch</a>
                <a href="#">Only on Netflix</a>
            </div>
            <div class="col">

                <a href="#">
                    Terms of Use</a>
            </div>
        </div>
    </div>
    <script>
        function signup(){
            window.location.href = "/signup/planform";
        }
    </script>
</body>
</html>

