* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ---------------Header------------- */

body {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-rows: 90px;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: rgb(195, 195, 195);
}

.header {
    grid-template-columns: 200px 100px;
}

#logo {
    width: 205px;
    padding-top: 23px;
    padding-left: 38px;
}


.signout {
    padding-top: 35px;
}

.signout a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.signout a:hover {
    text-decoration:underline;
}

/* ----------------Choosing----------------- */

.maincontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choosing {
    width: 94%;
    margin-top: 35px;
}

.choosing p{
    margin-top: 10px;
    color: rgb(52, 52, 52);
    text-align: left;
    width: 100%;
    font-size: 16px;
}

#DescripPlans {
    font-size: 32px;
    font-weight: 600;
}

#Steps {
    font-size: 12px;
}

/* ---------------plans-------------- */

.plans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 94%;
    height: 612px;
    margin-top: 20px;
}

.premium {
    width: 24%;
    height: 90%;
    border: 1px solid #949494;
    border-radius: 20px;
}

.standard {
    width: 24%;
    height: 90%;
    border: 1px solid #949494;
    border-radius: 20px;
}

.basic {
    width: 24%;
    height: 90%;
    border: 1px solid #949494;
    border-radius: 20px;
}

.mobile {
    width: 24%;
    height: 90%;
    border: 1px solid #949494;
    border-radius: 20px;
}

.Onephoto {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    min-height: 83px;
    padding: 10px 16px;
}

.Twophoto {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(176, 56, 220) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    min-height: 83px;
    padding: 10px 16px;
}

.Threephoto {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(109, 59, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    min-height: 83px;
    padding: 10px 16px;
}

.Fourphoto {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(33, 114, 227) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
    min-height: 83px;
    padding: 10px 16px;
}

.default-ltr-cache-42bcy3 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    color: white;
}

.default-ltr-cache-1gwr2i2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
}

.points {
    margin-top: 10px;
}

.pointOne {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    padding: 10px 16px;
    margin: 8px;
    border-bottom: 1px solid #b5b5b5;
}

.pointTwo, .pointThree, .pointFour, .pointFive {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding: 10px 16px;
    margin: 8px;
    border-bottom: 1px solid #b5b5b5;
}

.pointSix {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding: 10px 16px;
    margin: 8px;
    border-bottom: 1px solid #b5b5b5;
}

.MonthlyPrice {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.PricePerMonth {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 