* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* ---------------Body------------- */

body {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-direction: column;
}

@media (max-width: 280px) {
        body {
            position: fixed;
        }
}

/* --------------------Background---------------- */

.header {
    display: grid;
    grid-template-rows: 100px;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: rgb(195, 195, 195);
}



@media (min-width: 500px){

    .header {
        grid-template-columns: 200px 100px;
    }

    #logo {
        width: 200px;
        padding-top: 25px;
        padding-left: 30px;
    }
}

@media (max-width: 500px){

    .header {
        grid-template-columns: 125px 100px;
    }

    #logo {
        width: 150px;
        padding-top: 35px;
        padding-left: 30px;
    }
}

.signout {
    padding-top: 40px;
    padding-left: 5px;
}

.signout a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.signout a:hover {
    text-decoration:underline;
}

/* ------------------Body---------------- */

.plan {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 440px;
    grid-template-rows: 20px 80px 60px 150px;
    justify-content: center;
}

.checkmark img{
    display: block;
    margin: auto;   
    width: 250px; 
}

.step p{
    /* margin-top: 10px; */
    color: rgb(6, 6, 6);
    width: 100%;
    font-size: 13px;
    font-family: 200;
}

.step {
    margin: 0;
    text-align: left;

}

.choosePlan {
    color: rgb(57, 57, 57);
    text-align: left;
    width: 100%;
    font-size: 30px;
}

.choosePlan p{
    font-weight: 600;
}

.data {
    color: rgb(27, 27, 27);
    text-align: left;
    width: 85%;
    font-size: 18px;
    line-height: 22px;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    font-size: 15px;

}

ul li {
    margin-bottom: 10px; 
}

.checkmark-group--icon {
    align-self: flex-start;
    color: #e50914;
    flex: none;
    height: 26px;
    width: 26px;
}
.checkmark-group--row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    margin-top: 30px;
    color: rgb(50, 50, 50);
    letter-spacing: 2px;
}

.checkmark-group--row+.checkmark-group--row {
    margin-top: 20px;
}

.data li svg {
    margin-right: 10px;
}

#Next {
    /* margin-top: 10px; */
    width: 100%;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    /* margin-bottom: 100px; */
}

#Next:active {
    background-color: rgb(222, 0, 0);
}

/* ----------------forms--------------- */

.forms input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #33333300;
    margin-bottom: 10px;
    border: 1px solid #383838;
    border-radius: 5px;
    color: rgb(41, 41, 41);
}

.email-signin input::placeholder {
    color: #676767;
    font-size: 15px;
    transition: all 0.4s ease;

}

.email-signin input:focus::placeholder {
    color: #676767;
    font-size: 10px; 
    transform: translateY(-150%);
}

.password input::placeholder {
    color: #676767;
    font-size: 15px;
    transition: all 0.4s ease;

}

.password input:focus::placeholder {
    color: #676767;
    font-size: 10px; 
    transform: translateY(-180%);
}


/* -------------footer-------------- */

.footer {
    background-color: #e5e5e5;
    margin-top: 150px;
}

.footer h2 {
    font-weight: 100;
    color: #6d6d6d;
    margin-left: 10px;
}

@media (min-width: 500px){
    .footer {
        padding: 50px 5% 10px;
    }

    .footer .row .col a {
        font-size: 16px;
    }

    .footer h2 {
        font-size: 16px;
    }
}

@media (max-width: 500px){
    .footer {
        padding: 50px 5% 10px;
    }
    
    .footer .row .col a {
        font-size: 12px;
    }

    .footer h2 {
        font-size: 12px;
    }
}
.footer .row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 20px;
}

.row .col {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

}

.col a {
    padding: 5%;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #6d6d6d;
}

.footer button {
    height: 32px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: 20px;
    margin-left: 10px;
}

.footer p {
    margin-left: 10px;
    margin-top: 20px;
    color: #383838;
}

#linkToSingup {
    color: white;
}