* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

}

.main{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../resources/images/header-image.png);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    padding: 10px 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;
}

.main-nav {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    padding: 14px 4.9%;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.buttons button {
    height: 32px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer; 

}

#English {
    margin-right: 9.2%; 
    align-items: center; 
    text-align: center;  
    color: white;
    background-color: transparent;
    outline: 10px;
    border-color: rgb(126, 126, 126);
    border-width: 0.1%;
    font-size: 16px;
    width: 125px;
}

#English img {
    width: 8px;
    margin-left: 10px;
}   

@media (max-width: 300px) {
    .main-nav {
        flex-direction: column;
    }
}

@media (max-width: 250px) {
        body {
            position: fixed;
        }
}

@media (max-width: 400px) {
    #English {
        padding: 10px; 
        width: 74px;
    }

    #English img {
        display: inline; 
        width: 15px;
    }

    #English::before {
        content: ''; 
    }

    #English::after {
        content: ''; 
        margin-left: 5px; 
    }
}

@media (min-width: 401px) {
    #English::before {
        content: 'English'; 
    }
}

#SignIn {
    width: 74px;
    color: white;
    font-size: 14px;
    background-color: rgb(227, 0, 0);
    border: none;

}

.Logo {
    width: 15.3%;
    height: auto;
    min-width: 100px;
}

.header-content {
    transform: translate(0, -50%);
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.email-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
}

.email-signup input::placeholder {
    color: #ffffff;
    font-size: 15px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.email-signup input:focus::placeholder {
    font-size: 10px; 
    transform: translateY(-25%);
    padding-left: 10px;
    color: white;
}

@media (min-width: 800px){

    #GetStarted {
        width: 175px;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .email-signup input {
        color: white;
        padding-left: 10px;
        height: 50px;
        width: 400px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }

    .email-signup {
        flex-direction: row;
    }

    .header-content {
        top: 50%;
    }

    .header-content h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 70px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .header-content h2 {
        font-size: 25px;
        font-weight: 100;
        line-height: 70px;
    }
    
    .header-content h3 {
        font-size: 20px;
        font-weight: 80;
        line-height: 50px;
    }
}

@media (max-width: 801px){

    #GetStarted {
        width: 100px;
        height: 32px;
        color: white;
        font-size: 15px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .email-signup input {
        color: white;
        padding-left: 10px;
        height: 32px;
        width: 150px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }

    .header-content {
        top: 40%;
    }

    .header-content h1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }
    
    .header-content h2 {
        font-size: 25px;
        font-weight: 80;
        margin-top: 20px;
        /* line-height: 70px; */
    }
    
    .header-content h3 {
        margin-top: 25px;
        font-size: 17px;
        font-weight: 70;
    }
}


/* ------------------Features----------------- */


/* ------------------Feature 1 ----------------- */
.enjoyFeature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
}

.featureOne-Text {
    align-items: center;
}

@media (min-width: 1250px) {

    .featureOne-Text {
        margin-left: 100px;   
        transform: translateY(25%); 
    }

    .featureOne-Text h2 {
        font-size: 50px;
        font-weight: 900;
        margin-left: 50px;
    }
    
    .featureOne-Text p {
        max-width: 500px;
        font-size: 25px;
        margin-left: 50px;
    }

    .EnjoyTV {
        width: 75%;
        margin-top: 75px;
    }

    .enjoyVideo {
        position: absolute;
        z-index: -1;
        bottom: 85px;
        left: 130px;
        max-width: fit-content;
    }
    
    .enjoyVideo video {
        width: 75%;
        height: 75%;
    }
}

@media (max-width: 1251px) and (min-width: 1125px) {

    .featureOne-Text {
        margin-left: 100px;
    }

    .featureOne-Text h2 {
        font-size: 45px;
        font-weight: 900;
    }
    
    .featureOne-Text p {
        max-width: 300px;
        font-size: 20px;
    }

    .EnjoyTV {
        width: 75%;
        margin-top: 75px;
    }

    .enjoyVideo {
        position: absolute;
        z-index: -1;
        bottom: 85px;
        left: 130px;
        max-width: fit-content;
    }
    
    .enjoyVideo video {
        width: 75%;
        height: 75%;
    }
}

@media (max-width: 1125px) {
    .enjoyFeature {
        flex-direction: column;
        align-items: center;
    }

    .featureOne-Text {
        margin-top: 45px;
    }

    .featureOne-Text h2 {
        font-size: 35px;
        font-weight: 900;
        /* margin-left: 50px; */
        text-align: center;
    }
    
    .featureOne-Text p {
        margin-top: 10px;
        max-width: 300px;
        font-size: 15px;
        text-align: center;
        /* margin-left: 50px; */
    }
}

.enjoyImage {
    position: relative;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-evenly;
}

@media (max-width: 1125px) and (min-width: 480px) {
    .EnjoyTV {
        width: 75%;
        margin-top: 10px;
    }

    .enjoyVideo {
        position: absolute;
        z-index: -1;
    }
    
    .enjoyVideo video {
        width: 87%;
        padding-left: 13%;
        bottom: 9vh;
    }
    
}

@media (max-width: 480px) {
    
    .EnjoyTV {
        width: 75%;
        margin-top: 10px;
    }

    .enjoyVideo {
        position: absolute;
        z-index: -1;
    }
    
    .enjoyVideo video {
        width: 78%;
        padding-left: 22%;
        bottom: 9vh;
    }
    
}

/* ------------------Feature 2 ----------------- */

.downlaodFeature {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}


@media (min-width: 1250px) {

    .DownloadOnTV {
        width: 65%;
        transform: translateX(35%)
    
    }

    .downlaodFeature {
        flex-direction: row;
        margin-top: 175px;
    }

    .featureTwo-Text h2{
        font-size: 50px;
        font-weight: 900;
        max-width: 500px;
    }
    
    .featureTwo-Text p {
        max-width: 500px;
        font-size: 25px;
    }
    
    .featureTwo-Text {
        /* transform: translateY(-20%); */
        margin-top: -60px;
        transform: translateX(-20%);
    }    
}

@media (max-width: 1125px) and (min-width: 480px) {

    .downlaodFeature > div:nth-child(1) {
        order: 2; 
      }
    
    .downlaodFeature > div:nth-child(2) {
      order: 1; 
    }

    .DownloadOnTV {
        width: 65%;
        transform: translateX(30%)
    }

    .downlaodFeature {
        flex-direction: column;
        margin-top: 175px;

    }

    .featureTwo-Text h2 {
        font-size: 35px;
        font-weight: 900;
    }
    
    .featureTwo-Text p {
        font-size: 15px;
        line-height: 30px;
        /* text-align: center; */
    }

    .featureTwo-Text {
        text-align: center;
    }

    .downloadImage {
        margin-top: 50px;
    }
    
}

@media (max-width: 480px) {

    .downlaodFeature > div:nth-child(1) {
        order: 2; 
      }
    
    .downlaodFeature > div:nth-child(2) {
      order: 1; 
    }

    .DownloadOnTV {
        width: 65%;
        transform: translateX(30%)
    }

    .downlaodFeature {
        flex-direction: column;
        margin-top: 100px;
        

    }

    .featureTwo-Text h2 {
        font-size: 35px;
        font-weight: 900;
        max-width: 250px;
        margin-left: 6%;
    }
    
    .featureTwo-Text p {
        font-size: 15px;
        max-width: 250px;
        margin-left: 6%;
    }

    .featureTwo-Text {
        text-align: center;
    }

    .downloadImage {
        margin-top: 50px;
    }
    
}

/* /----------------Feature 3-------------/ */

.watchEveryWhere {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
}

.featureThree-Text {
    align-items: center;
}

@media (min-width: 1250px) {

        .featureThree-Text {
            margin-left: 100px;   
            transform: translateY(25%); 
        }

        .featureThree-Text h2 {
            font-size: 50px;
            font-weight: 900;
            margin-left: 50px;
        }
        
        .featureThree-Text p {
            max-width: 500px;
            font-size: 25px;
            margin-left: 50px;
        }

        .watch {
            width: 80%;
            margin-top: 75px;
            position: relative;
        }

        .watch {
            width: 75%;
            margin-top: 75px;
        }
    
        .watchVideo {
            position: absolute;
            z-index: -1;
            bottom: 150px;
            left: 170px;
            max-width: fit-content;
        }
        
        .watchVideo video {
            width: 65%;
            height: 75%;
        }
}

.srcWatch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1251px) and (min-width: 1125px) {

    .featureThree-Text {
        margin-left: 100px;
    }

    .featureThree-Text h2 {
        font-size: 45px;
        font-weight: 900;
    }
    
    .featureThree-Text p {
        max-width: 300px;
        font-size: 20px;
    }

    .watch {
        width: 75%;
        margin-top: 75px;
    }

    .watchVideo {
        position: absolute;
        z-index: -1;
        bottom: 150px;
        left: 160px;
        max-width: fit-content;
    }
    
    .watchVideo video {
        width: 65%;
        height: 75%;
    }
}

@media (max-width: 1125px) {
    .watchEveryWhere {
        flex-direction: column;
        align-items: center;
    }

    .featureThree-Text {
        margin-top: 45px;
    }

    .featureThree-Text h2 {
        font-size: 35px;
        font-weight: 900;
        /* margin-left: 50px; */
        text-align: center;
    }
    
    .featureThree-Text p {
        margin-top: 10px;
        max-width: 300px;
        font-size: 15px;
        text-align: center;
        /* margin-left: 50px; */
    }
}

@media (max-width: 1125px) and (min-width: 480px) {
    .watch {
        width: 75%;
        margin-top: 10px;
    }

    .watchVideo {
        position: absolute;
        z-index: -1;
    }
    
    .watchVideo video {
        width: 50%;
        margin-left: 150px;
        margin-bottom: 100px;
    }
    
}

@media (max-width: 479px) {
    
    .watch {
        width: 75%;
        margin-top: 10px;
    }

    .watchVideo {
        position: absolute;
        z-index: -1;
    }
    
    .watchVideo video {
        width: 48%;
        margin-left: 25%;
        margin-bottom: 8vh;
    }   
}

/* ----------------Feature 4 ----------------- */


.profile {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}


@media (min-width: 1250px) {

    .childrenTV {
        width: 65%;
        transform: translateX(35%)
    
    }

    .profile {
        flex-direction: row;
        margin-top: 175px;
    }

    .featureFour-Text h2{
        font-size: 50px;
        font-weight: 900;
        max-width: 500px;
    }
    
    .featureFour-Text p {
        max-width: 500px;
        font-size: 25px;
    }
    
    .featureFour-Text {
        margin-top: -60px;
        transform: translateX(-20%);
    }    
}

@media (max-width: 1125px) and (min-width: 480px) {

    .profile > div:nth-child(1) {
        order: 2; 
      }
    
    .profile > div:nth-child(2) {
      order: 1; 
    }

    .childrenTV {
        width: 65%;
        transform: translateX(30%)
    }

    .profile {
        flex-direction: column;
        margin-top: 175px;

    }

    .featureFour-Text h2 {
        font-size: 35px;
        font-weight: 900;
    }
    
    .featureFour-Text p {
        font-size: 15px;
        line-height: 30px;
        /* text-align: center; */
    }

    .featureFour-Text {
        text-align: center;
    }

    .kidsProfile {
        margin-top: 50px;
    }
    
}

@media (max-width: 480px) {

    .profile > div:nth-child(1) {
        order: 2; 
      }
    
    .profile > div:nth-child(2) {
      order: 1; 
    }

    .childrenTV {
        width: 65%;
        transform: translateX(30%)
    }

    .profile {
        flex-direction: column;
        margin-top: 100px;
        

    }

    .featureFour-Text h2 {
        font-size: 35px;
        font-weight: 900;
        max-width: 250px;
        margin-left: 6%;
    }
    
    .featureFour-Text p {
        font-size: 15px;
        max-width: 250px;
        margin-left: 6%;
    }

    .featureFour-Text {
        text-align: center;
    }

    .kidsProfile {
        margin-top: 50px;
    }
}

/* ----------------FAQ---------------- */

.faqs {
    text-align: center;
    padding: 10px 10%;
    margin-top: 175px;
    font-size: 21px;
}

@media (min-width: 1250px) {
    .faqs h2{
        font-weight: 900;
        font-size: 50px;
    }
}

@media (max-width: 1251px) and (min-width: 1125px) {
    .faqs h2{
        font-weight: 700;
        font-size: 45px;
    }
}

@media (max-width: 1125px) {
    .faqs h2{
        font-weight: 900;
        font-size: 35px;
    }   
}

.accordion{
    width: 100%;
    max-width: 1500px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 2px;
    background: #303030;
    cursor: pointer;
    position: relative;
    text-align: left;
}

 .accordion p {
    background-color: #303030;
}

.faqs ul li input[type="radio"] {
    display: none;
}
 
label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

.accordion .content {
    max-height: 0;
    text-align: left;
    padding: 0 20px;
    background: #303030;
    /* padding-top: 20px; */
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 20px 20px;
}  

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}  

/* -----------------Email------------------ */

.mailing-section {
    text-align: center;
    font-size: 20px;
    margin: 40px;
}

.mailing-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
}

.mailing-signup input::placeholder {
    color: #ffffff;
    font-size: 15px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.mailing-signup input:focus::placeholder {
    font-size: 10px; 
    transform: translateY(-25%);
    padding-left: 10px;
    color: white;
}

@media (min-width: 800px){

    #GetStartedButton {
        width: 175px;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .mailing-signup input {
        color: white;
        padding-left: 10px;
        height: 50px;
        width: 400px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }

    .mailing-signup {
        flex-direction: row;
    }
}

@media (min-width: 401px) {

    .mailing-signup {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-top: 10px;
        position: relative;
    }

    .mailing-signup input::placeholder {
        color: #ffffff;
        font-size: 15px;
        padding-left: 10px;
        transition: all 0.3s ease;
    }

    .mailing-signup input:focus::placeholder {
        font-size: 10px; 
        transform: translateY(-25%);
        padding-left: 10px;
        color: white;
    }
}

@media (max-width: 801px){

    #GetStartedButton {
        width: 100px;
        height: 32px;
        color: white;
        font-size: 15px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .mailing-signup input {
        color: white;
        padding-left: 10px;
        height: 32px;
        width: 150px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }
}

/* ---------------------footer----------------------- */

.footer h2 {
    font-size: 16px;
    font-weight: 100;
    color: #c6c6c6;
    margin-left: 10px;
}
@media (min-width: 500px){
    .footer {
        padding: 50px 15% 10px;
    }
}

@media (max-width: 500px){
    .footer {
        padding: 50px 5% 10px;
    }
}
.footer .row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 20px;
}

.row .col {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

}

.col a {
    padding: 5%;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #c6c6c6;
}

.footer button {
    height: 32px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: 20px;
    margin-left: 10px;
}

.footer p {
    margin-left: 10px;
    margin-top: 20px;
    color: #c6c6c6;
}