* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../resources/images/header-image.png);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;  */
    padding: 10px 8%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 4.9%;
}

.buttons {
    display: flex;
    justify-content: space-between;

}

.buttons button {
    height: 32px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer; 

}

#English {
    margin-right: 9.2%; 
    align-items: center; 
    text-align: center;  
    color: white;
    background-color: transparent;
    outline: 10px;
    border-color: rgb(126, 126, 126);
    border-width: 0.1%;
    font-size: 16px;
    width: 125px;
}

#English img {
    width: 8px;
    margin-left: 10px;
}

@media (max-width: 400px) {
    #English {
        padding: 10px; 
        width: 74px;
    }

    #English img {
        display: inline; 
        width: 15px;
    }

    #English::before {
        content: ''; 
    }

    #English::after {
        content: ''; 
        margin-left: 5px; 
    }
}

@media (min-width: 401px) {
    #English::before {
        content: 'English'; 
    }
}

#SignIn {
    width: 74px;
    color: white;
    font-size: 14px;
    background-color: rgb(227, 0, 0);
    border: none;

}

.Logo {
    width: 15.3%;
    height: auto;
    min-width: 100px;
}

.header-content {
    transform: translate(0, -50%);
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.email-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
}

.email-signup input::placeholder {
    color: #ffffff;
    font-size: 15px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.email-signup input:focus::placeholder {
    font-size: 10px; 
    transform: translateY(-25%);
    padding-left: 10px;
    color: white;
}

@media (min-width: 800px){

    #GetStarted {
        width: 175px;
        height: 50px;
        color: white;
        font-size: 20px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .email-signup input {
        color: white;
        padding-left: 10px;
        height: 50px;
        width: 400px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }

    .email-signup {
        flex-direction: row;
    }

    .header-content {
        top: 50%;
    }

    .header-content h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 70px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .header-content h2 {
        font-size: 25px;
        font-weight: 100;
        line-height: 70px;
    }
    
    .header-content h3 {
        font-size: 20px;
        font-weight: 80;
        line-height: 50px;
    }
}

@media (max-width: 801px){

    #GetStarted {
        width: 100px;
        height: 32px;
        color: white;
        font-size: 15px;
        background-color: rgb(227, 0, 0);
        border: none;
        border-radius: 4px;
        margin-left: 10px;
    }

    .email-signup input {
        color: white;
        padding-left: 10px;
        height: 32px;
        width: 150px;
        background-color: rgba(34, 34, 34, 0.699);
        border-color: #ffffff;
        border-width: 1px;
        border-radius: 4px;
    }

    .header-content {
        top: 40%;
    }

    .header-content h1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }
    
    .header-content h2 {
        font-size: 25px;
        font-weight: 80;
        margin-top: 20px;
        /* line-height: 70px; */
    }
    
    .header-content h3 {
        margin-top: 25px;
        font-size: 17px;
        font-weight: 70;
    }
}


/* ------------------Features----------------- */
.enjoyFeature {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.featureOne-Text {
    align-items: center;
}

@media (min-width: 1250px) {

    .featureOne-Text {
        margin-left: 100px;   
        transform: translateY(25%); 
    }

    .featureOne-Text h2 {
        font-size: 50px;
        font-weight: 900;
        margin-left: 50px;
    }
    
    .featureOne-Text p {
        max-width: 500px;
        font-size: 25px;
        margin-left: 50px;
    }

    .EnjoyTV {
        width: 75%;
        margin-top: 75px;
    }
}

@media (max-width: 1251px) and (min-width: 1125px) {
    .featureOne-Text h2 {
        font-size: 35px;
        font-weight: 900;
        margin-left: 50px;
    }
    
    .featureOne-Text p {
        max-width: 300px;
        font-size: 15px;
        margin-left: 50px;
    }

    .EnjoyTV {
        width: 75%;
        margin-top: 75px;
    }
}

@media (max-width: 1126px) {
    .enjoyFeature {
        flex-direction: column;
        align-items: center;
    }

    .featureOne-Text {
        margin-top: 45px;
    }

    .featureOne-Text h2 {
        font-size: 35px;
        font-weight: 900;
        /* margin-left: 50px; */
        text-align: center;
    }
    
    .featureOne-Text p {
        margin-top: 10px;
        max-width: 300px;
        font-size: 15px;
        text-align: center;
        /* margin-left: 50px; */
    }

    .enjoyImage img {        
        transform: translateX(17.5%);
    }

    .EnjoyTV {
        width: 75%;
        margin-top: 10px;
    }
}

