<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="/styles/signin.css">
</head>
<body>
    <div class="main">
        <div class="main-nav">
            <img src="/images/logo.png" alt="Logo" class="Logo">
        </div>
        <div class="headerContent">
            <div class="Head">
                <h2>साइन इन करें</h2>
            </div>
            <div class="forms">
                <form class="email-signin" autocomplete="off">
                    <input type="email" placeholder="ईमेल या फ़ोन नंबर" required autocomplete="new-password">
                </form>

                <form class="password" autocomplete="off">
                    <input type="password" placeholder="पासवर्ड" required autocomplete="new-password">
                </form>
            </div>
            <button id="SignIn">साइन इन करें</button>
            <div class="userChoice">
                <div class="rememberMe">
                <ul>
                    <li>
                        <input type="checkbox" id="checkbox1" name="checkbox1">
                        <label for="checkbox1">याद रखें</label>
                    </li>
                </ul>
                </div>
                <p>आपको मदद चाहिए?</p>
            </div>

            <div class="ExtraDetails">
                <div class="SignUp">
                    <p>Netflix पर नए हैं? </p>
                </div>
                <p>यह पक्का करने के लिए कि आप बॉट नहीं हैं, यह पेज Google reCAPTCHA द्वारा सुरक्षित है.</p>
            </div>
            </div>

            <div class="footer">
                <div class="box">
                    <h2>Questions? call 0101-0101-0101-0101</h2>
                    
                    <div class="row">
                    <div class="col">
                        <a href="#">FAQ</a>
                        <a href="#">Cookie Preferences</a>
                    </div>
                    <div class="col">
                        <a href="#">Help Centre</a>
                        <a href="#">Corporate Information</a>
                    </div>
                    <div class="col">
                        <a href="#">Terms of Use</a>
                    </div>
                    <div class="col">
                        <a href="#">Privacy</a>
                    </div>
                </div>
        </div>

    </div>


</body>
</html>